.vscode/
htmlcov/*
__pycache__/
tree/__pycache__/
.pytest_cache/
tests/.pytest_cache/
htmlcov/index.html
htmlcov/status.json
htmlcov/tree_operatorTree_py.html
.coverage
def0.txt
def1.txt
def3.txt
def1-bad.txt
tree.txt
