.vscode/

__pycache__/
.pytest_cache/

htmlcov/
.coverage

oval_graph/graph_html_interpreter/data.js
oval_graph/tree_html_interpreter/data.js

notes.txt

playground*

scan-data/

/*.egg-info
/.egg
/build
/dist
coverage.xml